body {
    background-color: #F4ECEC;
    color: #440909;
    font-family: almarai, Arial, Helvetica, sans-serif;
    font-weight: 70;
    font-size: 1em;
    margin: 1em;
    padding: 0 1.5em;
    line-height: 1.4;
}

p {color: #440909;
    font-weight: 70;
}

h1, h2 {
    color: #440909;
    font-family: urbanist, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.ProjectSelect {
    font-size: 1.5em;
    margin: 3.5em;
    line-height: 2;
    padding: 20px;
}

#illustrator {
    background-color:#CB2929;
    border: 1px solid #CB2929;
    border-radius: 30px;
}

#Photoshop {
    background-color:#CB2929;
    border: 1px solid #CB2929;
    border-radius: 30px;
}

#PhysicalArt {
    background-color:#CB2929;
    border: 1px solid #CB2929;
    border-radius: 30px;
}

.WorkExperience {
    font-size: 16px;
}
.portfolio img {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 900px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'almarai';
    src: url(../fonts/Almarai/Almarai-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'almarai';
    src: url('Almarai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'almarai';
    src: url('Almarai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'almarai';
    src: url('Almarai-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url(../fonts/Urbanist/Urbanist-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'urbanist';
    src: url('Urbanist-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




