body {
    background-color: #F4ECEC;
    color: #440909;
    font-weight: 70;
}

p {color: #440909;
    font-weight: 70;
}

h1, h2, h3
{color: #440909;
font-family:Georgia, Helvetica, sans-serif;
}

.portfolio img {
    width: 100%;
    height: auto;
}

