body {
    background-color: #F4ECEC;
    color: #440909;
    font-family: Almarai, 
    font-weight: 70;
    font-size: 1.1875em;
    margin: 1em;
    padding: 0 1em;
    line-height: 1.4;
}

p {color: #440909;
    font-weight: 70;
}

h1, h2
{color: #440909;
font-family: Urbanist, Georgia, 'Times New Roman', Times, serif
text-align: center;
}

.WorkExperience {
    font-size: 18px;
}
.portfolio img {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 900px;
}

@font-face {
    font-family: 'Almarai';
    src: url(../fonts/Almarai/Almarai-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url(../fonts/Urbanist/Urbanist-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}